@media only screen and (max-width : 900px) {
  .site-nav .top-navigation a { margin-right: 20px !important; }
  #intro-panel .top-navigation { left: 160px !important; }
}

@media only screen and (max-width : 900px) {
  .top-navigation { display: none; }
}

@media (max-width: 1200px) {
  .wrap {
    width: 90% !important;
  }

  .wrap > .half {
    float: none !important;
    clear: both !important;
    width: 100% !important;
  }

  .homepage #intro-panel ul {
    padding: 0;
    display: block;
  }
  #intro-panel ul li {
    margin-bottom: 50px;
  }
  #intro-panel ul li img {
    height: 60px;
    width: auto;
  }
  #intro-panel ul li span {
    width: 100%;
  }

  .map, #communities-panel {
    display: none;
  }

  #apps-panel .devices, #apps-panel h1, #apps-panel p {
    float: none !important;
  }
    #apps-panel .devices {
      margin-bottom: 60px;
    }

  #integrations-panel .loves {
    top: -60px !important;
    left: 0 !important;
  }

  #testimonials-panel .wrap .quotes {
    position: relative;
    left: 0;
    top: 0;

    width: auto;
    margin: 0 0 40px;
  }

  #integrations-panel .loves ul {
    width: 150px;
  }

  #testimonials-panel .quotes blockquote, #integrations-panel .wrap .loves {
    width: 100%;
  }

  #testimonials-panel h1, #testimonials-panel p {
    float: none !important;
  }

  .testimonial-image-wrapper {
    width: 32px;
    height: 32px;

    left: auto;
    right: 40px;
    top: 32px;
  }

  #apps-panel .devices {
    width: 100% !important;
  }

  #testimonials-panel .wrap .quotes:before {
    left: auto;
    top: auto;
    right: 30px;
    bottom: -21px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  p {
    width: 100% !important;
  }

  .team li {
    max-height: 200px !important;
    margin: 10px;
    overflow: hidden;
    border-radius: 6px;
    display: inline-block !important;
    float: none !important;

    // width: 100% !important;
    // margin: 0 auto !important;
    // margin-bottom: 30px;
  }
    .team li > img {
      width: 100%;
      height: auto;
    }

  #bottom-panel small {
    text-align: center;
  }
  #bottom-panel small span {
    display: block;
    float: none;

    width: 100%;
    text-align: center;
  }
  #bottom-panel small a {
    display: inline-block;
    float: none;
    margin: 0 15px;

    text-align: center;
  }
}

@media (max-width: 500px) {
  #intro-panel ul li span {
    display: none;
  }

  #apps-panel .devices {
    left: -300px !important;
  }

  .site-nav a {
    display: none;
    margin-right: 0;
  }
    .site-nav a.logo, .site-nav a.btn {
      display: inline-block;
    }

  body .site-nav {
    padding-top: 30px;
  }

  body #intro-panel h1 {
    padding-top: 60px;

    font-size: 36px;
    line-height: 44px;
  }

  .no-small {
    display: none !important;
  }
}
